[tools]
node = "24"

[hooks]
postinstall = [
  "corepack enable",
  "pnpm install --frozen-lockfile",
]

[env]
_.path = "./node_modules/.bin"

[settings]
jobs = 8

# Required for hooks as of 2025.10
# https://mise.jdx.dev/hooks.html
experimental = true
