* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  font-family: "Lora", "Minion Pro", Palatino, Georgia, serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}
