* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
}

body {
  font-family: "Noto Sans CJK JP", "Meiryo", "Hiragino Sans", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  &__myname {
    margin-top: 0.7em;
    margin-bottom: 0.5em;
  }
  &__tagline {
    margin-bottom: 1em;
  }
  &__avatar {
    border-radius: 10%;
  }
  &__accounts {
    display: flex;
    align-items: center;
    gap: 1em;

    margin-top: 15px;
  }
}
