* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
}

body {
  font-family: "Noto Sans CJK JP", "Meiryo", "Hiragino Sans", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
h1.myname {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}
.tagline {
  margin-bottom: 1em;
}
.avatar {
  width: 15%;
  border-radius: 10%;
}
ul.accounts {
  list-style: none;
  margin-top: 15px;
}
ul.accounts li {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-left: 1px;
  padding-right: 1px;
}
ul.accounts img {
  width: 32px;
  height: 32px;
}
ul.accounts .circular {
  border-radius: 50%;
}
