version: 2

jobs:
  build:
    working_directory: ~/phanective.org
    docker:
      - image: circleci/node:12
    steps:
      - run:
          name: System Update
          command: |
            sudo apt-get update -qq
            DEBIAN_FRONTEND=noninteractive sudo apt-get dist-upgrade --yes

      - checkout
      - run: yarn install
      # - run: yarn test # Currently there is no tests
